#small {
  position: absolute;
  top: -2%;
  left: -1%;
  width: calc(16px + 3vw);
  opacity: 30%;
}

#medium {
  position: absolute;
  width: 10vw;
  top: 10%;
  left: 10%;
  opacity: 30%;
}

#big {
  position: absolute;
  top: 2%;
  left: 30%;
  width: 5vw;
  opacity: 50%;
}

#big1 {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 15vw;
  opacity: 50%;
}

#title {
  background-image: url("SVG/background.svg");
  background-size: cover;
  font-family: 'Redressed', cursive;
}

.line {
  text-align: center;
  font-size: 3rem;
  color: #838383;
  position: relative;
  z-index: 1;
}


a {
  font-family: 'Ranchers', cursive;
}

.nav-link {
color: #000 !important;
}

/* .navbar {

} */



.navbar-brand {
  font-size: 1.5rem;
  color: #000 !important;

}

.navbar-dark .navbar-toggler {
    color: #000 !important; //override default css rule
}

.container-fluid{
  padding: 3% 5%;
}

.description {
  padding-top: 3%;
}

.des {
  color: #000;
  font-size: calc(24px + 1.5vw); /*Change font size accorfing to viewport (vw) and set a min size */
  line-height: 1.5;
  font-weight: bold;
}

.description-title {
  padding: 3% 1%;
}

.title-image{
  width: 60%;
  border-radius: 1em;
  border: 0.5em dotted;
  border-color: #71c9ce;
  float: right;
}


/* Personal Description Section */
#personal-description-section {
  padding: 2rem;
  position: relative;
  z-index: 1;
  background-color: #fff;
}


h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
  padding-bottom: 3rem;
}

.far {
  color: #71c9ce;
  font-size: 6rem;
}

.fas {
  color: #71c9ce;
  font-size: 6rem;
}

.smile-icon {
  padding-bottom: 3em;
}


/* Services Section */

#small2 {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 5vw;
  opacity: 30%;
}

#medium2 {
  position: absolute;
  width: 10vw;
  bottom: 10%;
  left: 10%;
  opacity: 30%;
  padding: 0;
}

#services-section {
  background-color: #cbf1f5;
  padding: 2rem;
}

.services-description{
  padding: 1em;
}

.services-description:hover {
  animation-name: example;
  animation-duration: 0.2s;
  color: #71c9ce;
}

.expertise {
  padding-bottom: 4em;
  font-family: 'Ranchers', cursive;
}

  /* Services Icons */

  .fa-html5:hover {
    color: #71c9ce;
    animation-name: example;
    animation-duration: 0.2s;
  }
  .fa-js-square:hover {
    color: #71c9ce;
    animation-name: example;
    animation-duration: 0.2s;
  }
  .fa-css3-alt:hover {
    color: #71c9ce;
    animation-name: example;
    animation-duration: 0.2s;
  }
  .fab {
    font-size: 6em;
  }

  @keyframes example {
    0%{
      color: black;
    }
    100%{
      color: #71c9ce;
    }
  }



  /* Contact Me Section */

  #small3 {
    position: absolute;
    top: 10%;
    left 10%;
    width: 5vw;
    opacity: 30%;
  }

  #medium3 {
    position: absolute;
    width: 10vw;
    bottom: 10%;
    right: 10%;
    opacity: 30%;
    padding: 0;
  }

  #contact-section {
    padding: 2rem;
    position: relative;
  }

  .contact-me {
    padding-bottom: 4em;
    font-family: 'Ranchers', cursive;
  }

  .fa-phone {
    padding-top: 0;
    padding-bottom: 3rem;
  }

  .contact-me-description {
    padding-bottom: 0;
    font-family: 'Ranchers', cursive;
  }
  .fa-envelope {
    color: white;
    font-size: 1rem;
    padding-right: 7px;
  }

  /* Footer Section */

  #footer-section {
    background-color: #a6e3e9;
  }

  .ftl-icons {
    padding-top: 2rem;
  }

  h5 {
    font-size: 0.6rem;
    font-weight: lighter;
    font-family: 'Playfair Display', serif;
  }

  .copyright {
    padding-top: 1rem;
  }

  /* Media Queries */

  @media (max-width: 900px) {
    .description-title{
      text-align: center;
    }
    .title-image{
      margin-top: 2rem;
      float: none;
    }
  }
